/*------------------------------------------------------------------
Project:    Zemo Personal Portfolio
Version:    1.0
Primary use:    pxdraft

[Table of contents]

1. Body
2. Header
3. Footer
4. Blog
5. Section
6. Home Banner
7. About
8. Services
9. Resume
10. Portfolio
11. Testimonial
12. Contact Us

-------------------------------------------------------------------*/
@import url(../../plugin/bootstrap/css/bootstrap.min.css);
@import url(../../plugin/bootstrap/icons/bootstrap-icons.css);
@import url(../../plugin/owl-carousel/css/owl.carousel.min.css);
@import url(../../plugin/magnific/magnific-popup.css);
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700;800;900&display=swap");

.navbar-toggler,
.toggler-menu {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 20px 0 0;
  border-radius: 0;
  padding: 0;
  margin-left: 15px;
  background: #fff;
  border: none;
  box-shadow: none !important;
}

.navbar-toggler span,
.toggler-menu span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 2px;
  margin: auto;
  box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
  background: #292929;
  color: #292929;
}

@media (min-width: 992px) {
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    width: 100%;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .fixed-header .main-header {
    box-shadow: 0 12px 15px rgba(140, 152, 164, 0.1);
    background: #fff;
  }

  .main-header .navbar {
    padding: 0;
  }

  .main-header .navbar-brand {
    color: #ea4020;
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
  }

  .main-header .navbar-nav>li {
    padding: 0 20px;
  }

  .main-header .navbar-nav>li>a {
    padding: 5px 0 !important;
    color: rgba(41, 41, 41, 0.6);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.08rem;
    position: relative;
  }

  .main-header .navbar-nav>li>a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    height: 1px;
    background: #292929;
    width: 0px;
    transition: ease all 0.35s;
  }

  .main-header .navbar-nav>li>a.active {
    color: #ea4020;
  }

  .main-header .navbar-nav>li>a.active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

  .main-header .navbar-nav>li:hover>a:after {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* Mobile 
-----------------------------*/
@media (max-width: 991px) {
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    width: 100%;
    top: 0;
    border-bottom: 1px solid rgba(41, 41, 41, 0.2);
    box-shadow: 0 12px 15px rgba(140, 152, 164, 0.1);
  }

  .main-header .container {
    max-width: 100%;
    padding: 0;
  }

  .fixed-header .main-header {
    background: #fff;
  }

  .main-header .navbar {
    padding: 0;
  }

  .main-header .navbar-brand {
    color: #ea4020;
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    margin: 15px 20px;
  }

  .main-header .navbar-nav {
    background: #fff;
  }

  .main-header .navbar-nav>li {
    border-top: 1px solid rgba(41, 41, 41, 0.05);
  }

  .main-header .navbar-nav>li>a {
    padding: 12px 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05rem;
    color: #292929;
  }

  .main-header .navbar-nav>li>a.active {
    color: #ea4020;
  }
}

/*Footer
---------------------*/
.footer {
  padding: 12px 0;
  background: #fff;
  border-top: 1px solid rgba(41, 41, 41, 0.1);
}

.footer .nav a {
  color: #555a64;
  font-size: 14px;
  margin-right: 17px;
}

.footer .nav a:hover {
  color: #ea4020;
}

.footer p {
  color: #555a64;
  font-size: 14px;
  margin: 0;
}

.footer p a {
  color: #555a64;
}

.footer p a:hover {
  color: #ea4020;
}

/* Blog 
-------------------*/
.blog-post {
  overflow: hidden;
  border: 1px solid #e2e8f0;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
  border-radius: 10px;
}

.blog-post .blog-img {
  position: relative;
  overflow: hidden;
}

.blog-post .blog-img img {
  transition: ease all 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.blog-post:hover .blog-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blog-post .data {
  position: absolute;
  top: 20px;
  left: 10px;
  background: #292929;
  padding: 18px 10px;
  line-height: 1;
  text-align: center;
  z-index: 1;
  border-radius: 8px;
}

.blog-post .data span {
  width: 100%;
  display: inline-block;
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  margin: 0;
  color: #fff;
}

.blog-post .data small {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 7px;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.blog-post .blog-info {
  padding: 25px;
  position: relative;
}

.blog-post .blog-info h6 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.blog-post .blog-info h6 a {
  color: #292929;
}

.blog-post .blog-info p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0 0 12px;
}

.blog-post .blog-info .btn-bar a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1rem;
  color: #ea4020;
  border-bottom: 1px solid;
}

/* Blog List
-------------------*/
.blog-listing {
  padding-top: 30px;
  padding-bottom: 30px;
}

.blog-listing .pagination {
  margin-top: 30px;
}

.blog-listing .blog-post {
  margin-bottom: 30px;
}

.blog-listing .blog-post .blog-info {
  margin: 0;
  box-shadow: none;
}

.pagination .page-item .page-link {
  border: none;
  box-shadow: none;
  color: #292929;
  margin: 0 5px;
  border-radius: 50px;
  padding: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: #fff;
  border: 1px solid #e2e8f0;
}

.pagination .page-item .page-link:hover {
  background: #ea4020;
  border-color: #ea4020;
  color: #fff;
}

.pagination .page-item.disabled .page-link {
  opacity: 0.5;
}

.pagination .page-item.active .page-link {
  background: #ea4020;
  border-color: #ea4020;
  color: #fff;
}

/* Blog Sidebar
-------------------*/
.blog-aside {
  background: #fff;
  border: 1px solid #e2e8f0;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
  padding: 20px;
  border-radius: 10px;
}

.blog-aside .widget {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.blog-aside .widget:last-child {
  margin-bottom: 0;
}

.blog-aside .widget-title {
  border-bottom: 1px solid #e2e8f0;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.blog-aside .widget-title:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50px;
  height: 3px;
  background: #ea4020;
}

.blog-aside .widget-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #292929;
  margin: 0;
}

.blog-aside .widget-author .media {
  margin-bottom: 15px;
}

.blog-aside .widget-author p {
  font-size: 16px;
  margin: 0;
}

.blog-aside .widget-author .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.blog-aside .widget-author h6 {
  font-weight: 600;
  color: #292929;
  font-size: 18px;
  margin: 0;
  padding-left: 20px;
}

.blog-aside .post-aside {
  margin-bottom: 15px;
}

.blog-aside .post-aside .post-aside-title h5 {
  margin: 0;
}

.blog-aside .post-aside .post-aside-title a {
  font-size: 18px;
  color: #292929;
  font-weight: 500;
}

.blog-aside .post-aside .post-aside-meta {
  padding-bottom: 10px;
}

.blog-aside .post-aside .post-aside-meta a {
  color: #555a64;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.blog-aside .latest-post-aside+.latest-post-aside {
  border-top: 1px solid #e2e8f0;
  padding-top: 15px;
  margin-top: 15px;
}

.blog-aside .latest-post-aside .lpa-right {
  width: 90px;
}

.blog-aside .latest-post-aside .lpa-left {
  padding-right: 15px;
}

.blog-aside .latest-post-aside .lpa-title h5 {
  margin: 0;
  font-size: 15px;
}

.blog-aside .latest-post-aside .lpa-title a {
  color: #292929;
  font-weight: 600;
}

.blog-aside .latest-post-aside .lpa-meta a {
  color: #555a64;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}

.tag-cloud a {
  padding: 4px 15px;
  font-size: 13px;
  color: #292929;
  background: #f7f6ff;
  border-radius: 3px;
  margin-right: 4px;
  margin-bottom: 4px;
  font-weight: 500;
}

.tag-cloud a:hover {
  background: #ea4020;
  color: #fff;
}

.blog-single {
  padding-top: 30px;
  padding-bottom: 30px;
}

.article {
  margin: 0 0 30px;
}

.article .article-title {
  padding: 15px 0 20px;
}

.article .article-title h6 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}

.article .article-title h6 a {
  text-transform: uppercase;
  color: #292929;
  border-bottom: 1px solid currentColor;
}

.article .article-title h2 {
  color: #292929;
  font-weight: 700;
}

@media (max-width: 991px) {
  .article .article-title h2 {
    font-size: 24px;
  }
}

.article .article-title .media {
  padding-top: 15px;
  border-bottom: 1px dashed rgba(41, 41, 41, 0.05);
  padding-bottom: 20px;
}

.article .article-title .media .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.article .article-title .media .media-body {
  padding-left: 8px;
}

.article .article-title .media .media-body label {
  font-weight: 500;
  color: #292929;
  margin: 0;
}

.article .article-title .media .media-body span {
  display: block;
  font-size: 12px;
}

.article .article-content h1,
.article .article-content h2,
.article .article-content h3,
.article .article-content h4,
.article .article-content h5,
.article .article-content h6 {
  color: #292929;
  font-weight: 600;
  margin-bottom: 15px;
}

.article .article-content blockquote {
  width: 100%;
  padding: 20px;
  margin: 0 0 30px;
  border-left: 4px solid #ea4020;
}

.article .article-content blockquote p {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.article .article-content blockquote .blockquote-footer {
  color: #292929;
  font-size: 16px;
  padding-top: 20px;
}

.article .article-content blockquote .blockquote-footer cite {
  font-weight: 600;
}

.article .tag-cloud {
  padding-top: 10px;
}

.article-comment h4 {
  color: #292929;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 22px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: inherit;
  }
}

html {
  overflow-x: hidden;
}

body {
  color: #555a64;
  font-family: "Nunito", sans-serif;
  line-height: 1.7;
  font-size: 15px;
  font-weight: 400;
  overflow-x: hidden;
}

.font-alt {
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
}

* {
  outline: none !important;
}

a {
  color: #ea4020;
  text-decoration: none;
}

a:hover {
  color: #ce3113;
  text-decoration: none;
}

mark {
  background-image: linear-gradient(#ea4020, #ea4020);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}

/* ----------------------
*	Loading
---------------------------*/
#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ea4020;
  z-index: 99999;
}

.load-circle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}

.load-circle span {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.load-circle span:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
  animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ----------------------
*	owl 
---------------------------*/
.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #292929;
  transition: ease all 0.55s;
  border-radius: 50%;
  margin: 0 5px;
}

.owl-dots .owl-dot.active {
  background: #292929;
}

.owl-carousel .owl-item img {
  width: auto;
  max-width: 100%;
}

/* Page title
--------------------------------*/
.page-title {
  padding: 160px 0 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.page-title .container {
  position: relative;
  z-index: 1;
}

@media (max-width: 1200px) {
  .page-title {
    padding-top: 130px;
    padding-bottom: 50px;
  }
}

.page-title h1 {
  font-weight: 700;
  margin-bottom: 15px;
  color: #292929;
}

@media (max-width: 991px) {
  .page-title h1 {
    font-size: 30px;
  }
}

/* Breadcrumbs
--------------------------------*/
.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
  border-radius: 0;
}

.breadcrumb li {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  color: #292929;
}

.breadcrumb li+li {
  padding-left: 17px;
  margin-left: 17px;
}

.breadcrumb li+li:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: currentColor;
  opacity: 0.5;
  left: -2px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.breadcrumb li a {
  color: #292929;
}

/* Buttons
---------------------*/
.px-btn {
  padding: 0 35px;
  line-height: 48px;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
  border-radius: 5px;
}

.px-btn.px-btn-theme {
  background: #ea4020;
  color: #fff;
}

.px-btn.px-btn-theme:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  top: 0;
  width: 0px;
  transition: ease all 0.35s;
  background: #292929;
  z-index: -1;
}

.px-btn.px-btn-theme:hover {
  color: #fff;
}

.px-btn.px-btn-theme:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.px-btn.px-btn-white {
  background: #fff;
  color: #292929;
}

.px-btn.px-btn-white:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  top: 0;
  width: 0px;
  transition: ease all 0.35s;
  background: #ea4020;
  z-index: -1;
}

.px-btn.px-btn-white:hover {
  color: #292929;
}

.px-btn.px-btn-white:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.gray-bg {
  background-color: #f7f6ff;
}

.theme-bg {
  background-color: #ea4020;
}

.dark-bg {
  background-color: #292929;
}

.dark-bg-1 {
  background-color: #f1f4ff;
}

.dark-bg-hover {
  background: rgba(255, 255, 255, 0.05) !important;
}

.dark-bg-hover:hover {
  background: #ea4020 !important;
}

.dark-text-1 {
  color: #f1f4ff;
}

.dark-text {
  color: #292929;
}

.color-white {
  color: #fff;
}

.color-theme {
  color: #ea4020;
}

body {
  position: relative;
}

/* Section
---------------------*/
.section {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

@media (max-width: 991px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.bottom-ani {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}

.bottom-ani svg {
  min-width: 800px;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Home Banner
---------------------*/
.home-banner {
  overflow: hidden;
  position: relative;
}

.home-banner .placeholder {
  text-align: left;
  top: 100px;
  padding-left: 5vh;
}

.home-banner .min-vh-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.home-banner .social-share {
  position: absolute;
  top: 0;
  bottom: 0;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  right: 16px;
  z-index: 1;
}

.home-banner .social-share a {
  width: 30px;
  height: 30px;
  font-size: 15px;
  background: rgba(41, 41, 41, 0.06);
  text-align: center;
  line-height: 30px;
  margin: 5px;
  color: #292929;
  border-radius: 3px;
}

.home-banner .social-share a:hover {
  background: #ea4020;
}

.home-banner .home-avatar-box {
  padding: 40px;
  position: relative;
}

@media (max-width: 767px) {
  .home-banner .home-avatar-box {
    padding: 20px;
  }
}

.home-banner .home-avatar-box:before {
  content: "";
  background-image: url(../../img/dots-effect-dark.png);
  position: absolute;
  top: 0;
  left: -40px;
  right: 0;
  bottom: 0;
  background-position: left;
  background-size: cover;
  -webkit-animation: spin 140s linear infinite;
  animation: spin 140s linear infinite;
}

.home-banner .home-avatar-box:after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 200vw;
  border: 20px solid #ea4020;
  border-radius: 310px;
  background: #fff;
}

@media (max-width: 767px) {
  .home-banner .home-avatar-box:after {
    border: 10px solid #ea4020;
  }
}

.home-banner .home-avatar-in {
  position: relative;
  border-radius: 50% 50% 0% 50%;
  border: 15px solid #292929;
  overflow: hidden;
  z-index: 1;
}

@media (max-width: 767px) {
  .home-banner .home-avatar-in {
    border: 5px solid #292929;
  }
}

.home-banner .home-avatar-in:after {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

.home-banner .home-avatar-in img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home-banner .typo-box {
  padding-top: 50px;
  padding-bottom: 50px;
}

.home-banner .typo-box h6 {
  font-size: 20px;
  color: #292929;
  font-weight: 600;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .home-banner .typo-box h6 {
    font-size: 16px;
  }
}

.home-banner .typo-box h1 {
  color: #292929;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
  margin: 0 0 20px;
}

@media (max-width: 767px) {
  .home-banner .typo-box h1 {
    font-size: 40px;
  }
}

.home-banner .typo-box h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 3px;
  background: #ea4020;
}

.home-banner .typo-box h2 {
  color: #292929;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .home-banner .typo-box h2 {
    font-size: 18px;
  }
}

.home-banner .typo-box p {
  font-size: 17px;
  color: rgba(41, 41, 41, 0.7);
  max-width: 500px;
}

@media (max-width: 767px) {
  .home-banner .typo-box p {
    font-size: 15px;
  }
}

.home-banner .typo-box .btn-bar {
  padding-top: 10px;
}

/* About 
---------------------*/
.about-row {
  margin-bottom: 30px;
  padding-left: 15px;
}

.about-row .sm-title {
  margin-left: -15px;
}

.about-row .nav span {
  font-size: 13px;
  border: 1px solid rgba(41, 41, 41, 0.1);
  padding: 5px 15px;
  border-radius: 40px;
  margin: 0 5px 5px 0;
  background: #fff;
}

.about-row .nav span:hover {
  border-color: rgba(41, 41, 41, 0.3);
}

.about-text h6 {
  font-weight: 500;
  color: #292929;
  font-size: 16px;
}

.about-text h6 span {
  border-bottom: 2px solid rgba(41, 41, 41, 0.2);
}

.progress-text span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #ea4020;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}

.progress-text label {
  margin: 0;
}

/* Services
---------------------*/
.hexagon {
  background-color: #ea4020;
  border-radius: 10px;
  width: 100px;
  height: 63px;
  transition: all 1s;
  position: relative;
}

.hexagon:before,
.hexagon:after {
  content: "";
  border: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ea4020;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  pointer-events: none;
}

.hexagon:before {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.hexagon:after {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.feature-box-1 {
  padding: 0 15% 30px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  margin-top: 45px;
  border: 1px solid #e2e8f0;
  transition: ease all 0.35s;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
}

.feature-box-1 .icon {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0 auto 30px;
  top: -20px;
  transition: ease all 0.35s;
}

.feature-box-1 .icon i {
  position: relative;
  z-index: 1;
  font-size: 40px;
  line-height: 1;
  color: #fff;
}

.feature-box-1 h5 {
  font-weight: 500;
  font-size: 18px;
  color: #292929;
  margin-bottom: 10px;
}

.feature-box-1:hover {
  border-color: #ea4020;
}

.feature-box-1:hover .icon {
  top: -15px;
}

/* Resume
---------------------*/
.resume-box ul {
  margin: 0;
  padding: 0;
}

.resume-box li {
  padding: 20px 30px;
  margin: 0;
  background: #fff;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  transition: ease all 0.35s;
}

.resume-box li:hover {
  border-color: #ea4020;
}

.resume-box li+li {
  margin-top: 30px;
}

.resume-box li h6 {
  background: #ea4020;
  display: inline-block;
  font-size: 13px;
  position: relative;
  padding: 8px 14px;
  border-radius: 20px;
  color: #fff;
}

.resume-box li h5 {
  font-weight: 600;
  font-size: 16px;
  color: #292929;
}

.resume-box li p {
  font-size: 14px;
  margin-bottom: 5px;
}

.resume-box li span {
  font-size: 12px;
}

/* Portfolio
---------------------*/
.portfolio-box {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #e2e8f0;
  /* رنگ خط دور پروژه ها */
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
}

.portfolio-box .p-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #ea4020;
  /* رنگ بک گراند به اضافه */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  /* رنگ به اضافه های پست ها */
  line-height: 1;
  transition: ease all 0.35s;
}

.portfolio-box .p-icon:hover {
  background: #292929;
}

.portfolio-box .portfolio-img {
  position: relative;
}

.portfolio-box .portfolio-info {
  background: #fff;
  /* رنگ قسمت راست پروژه ها */
  padding: 20px;
}

.portfolio-box .portfolio-info h2 {
  font-size: 18px;
  color: #292929;
  font-weight: 600;
}

.portfolio-box .portfolio-info .nav span {
  font-size: 12px;
  border: 1px solid rgba(41, 41, 41, 0.1);
  padding: 5px 15px;
  border-radius: 40px;
  margin: 0 5px 5px 0;
}

.portfolio-box .portfolio-info .nav span:hover {
  border-color: rgba(41, 41, 41, 0.3);
}

/* Testimonial
---------------------*/
.testimonial-col {
  background: #fff;
  padding: 8%;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
}

.testimonial-col .img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.testimonial-col .col {
  padding-left: 20px;
}

.testimonial-col .tc-info {
  padding-top: 14px;
}

.testimonial-col .tc-info h6 {
  color: #292929;
  font-size: 16px;
  margin: 0;
}

.testimonial-col .tc-info span {
  font-size: 11px;
}

.testimonial-col p {
  margin: 0;
  color: #292929;
}

/* Contact Us
---------------------*/
.contact-info {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
}

.contact-info .contact-name {
  padding-left: 15px;
  padding-bottom: 15px;
  font-size: 14px;
}

.contact-info .sm-title {
  margin-left: -15px;
  margin-bottom: 10px;
}

.contact-info .sm-title h3 {
  font-size: 15px;
}

.contact-info .social-share {
  padding-left: 15px;
}

.contact-info .social-share a {
  color: #292929;
  font-size: 20px;
  margin-right: 10px;
}

.contact-info .social-share a:hover {
  color: #ea4020;
}

.contact-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .form-control {
  box-shadow: none !important;
  font-size: 15px;
  /*color: $px-dark;
        background: $px-dark;
        border: 1px solid rgba($px-dark, 0.2);
        border-radius: 3px;
        box-shadow: none;*/
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.placeholder {
  position: absolute;
  top: 20px;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0.05;
  pointer-events: none;
}

.placeholder h5 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #292929;
  font-size: 7vw;
  color: transparent;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.8rem;
}

@media (max-width: 767px) {
  .placeholder h5 {
    font-size: 10vw;
    letter-spacing: 0.2rem;
  }
}

.section-title {
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .section-title {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .section-title {
    margin-bottom: 20px;
  }
}

.section-title h2 {
  color: #292929;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0;
}

@media (max-width: 767px) {
  .section-title h2 {
    font-size: 30px;
    letter-spacing: 1px;
  }
}

.section-title h2 span {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.section-title h2 span:before,
.section-title h2 span:after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 35px;
  height: 3px;
  background: #ea4020;
}

.section-title h2 span:before {
  right: -40px;
}

.section-title h2 span:after {
  left: -40px;
}

.sm-title {
  margin-bottom: 25px;
}

.sm-title h3 {
  color: #292929;
  font-weight: 500;
  position: relative;
  font-size: 18px;
  padding-left: 15px;
}

.sm-title h3:after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 20px;
  background: #ea4020;
}



/*# sourceMappingURL=style.css.map */